<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xdroid.sqlitelookup">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.xdroid.sqlitelookup.app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">
        <activity
            android:name="com.xdroid.sqlitelookup.app.DbActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.xdroid.sqlitelookup.app.PickDbActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xdroid.sqlitelookup.app.DbTablesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xdroid.sqlitelookup.app.TableDesignActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xdroid.sqlitelookup.app.TableDataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xdroid.sqlitelookup.app.RecordDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
